<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risultati IterSolver</title>
    <link rel="stylesheet" href="../static/css/dct2.css"> <!-- Se hai uno stile CSS -->
    <script defer src="../static/js/dct2.js"></script>
</head>
<body>

    <div class="container">
        <div class="image-wrapper">
            <h1>Confronto DCT con implementazione manuale</h1>
            <img id="manualImplementationDCT" src="" alt="Confronto DCT con implementazione manuale" style="max-width: 100%; display: none;">
            <div id="loadingIndicator" style="display: none; text-align: center; margin-top: 20px;">
                <p>Elaborazione in corso...</p>
                <div class="spinner"></div>
            </div>
        </div>
        <div class="button-container">
            <button type="submit" id="apply-method-button">Esegui</button>
        </div>
        <div class="button-container">
            <button id="backButton">🔙 Back to the Menú</button>
        </div>
    </div>

</body>
</html>
