<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menù</title>
    <link rel="stylesheet" href="../static/css/menu.css">
    <script src="../static/js/menu.js" defer></script>
</head>
<body>
    <div class="container">
        <div>
            <h1><b>Welcome!!</b></h1>
            <h2>Choose a functionality</h2>
        </div>

        <div class="menu-items">
            <button id="itersolverButton">Esecuzione metodi iterativi</button>
            <button id="imageProcessingButton">Processamento immagini (DCT2)</button>
        </div>
    </div>
</body>
</html>